.header-3OsQeK, .scroller-1ox3I2, .container-YkUktl, .container-YkUktl .avatar-1EWyVD, .platform-osx .scroller-3X7KbA, .platform-win .scroller-3X7KbA, .members-3WRCEx, .members-3WRCEx>div {
    background-color: #1f1f1f;
}
.item-2LIpTv {
    background-color: orangered;
}
.typeWindows-2-g3UY, .scroller-WSmht3, .searchBar-3TnChZ {
    background-color: #1f1f1f;
}
.scroller-kQBbkU, .container-ZMc96U.themed-Hp1KC_, .form-3gdLxP {
    background-color: #292929;
}
.theme-dark .form-3gdLxP:before {
    display: none;
}
.scrollableContainer-15eg7h, .replyBar-1oi75v, .scroller-18M1mG {
    background-color: #383838;
}
.mentionButton-3C5YMI {
    color: orangered;
}
.contentWrapper-3vHNP2, .packHeader-w9jpYl, .list-obNEuP, .inspector-DFKXwB, .header-1ULbqO {
    background-color: #1f1f1f;
}
.theme-dark .selected-3H3-RC {
    background-color: #2c2c2c;
}



div[class^="container-"]{ min-height: 0; }
div[class^="blockedSystemMessage-"], div[class*="blockedSystemMessage-"] { 
    
    display: none; 
}

div[class^="groupStart-"], div[class^="da-groupStart"] {
    display: none;
}


.headerTopWithCustomStatus-1aNSNd, .body-2wLx-E, .bodyInnerWrapper-2bQs1k, .footer-3naVBw {
    background-color: #1f1f1f;
}
.grid-1aWVsE {
    background-color: #292929;
    border: 3px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.childWrapper-1j_1ub {
    background-color: transparent;
    color: orangered;
}
.wordmarkWindows-2dq6rw {
    color: orangered;
}
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    color: orangered;
    background-color: #383838;
}
.scroller-hE2gWq {
    background-color: #1f1f1f;
}
.itemCard-3Etziu, .peopleColumn-1wMU14 {
    background-color: #292929;
}
.section-3G9aLW {
    background-color: #383838;
}
.contentRegionScroller-2_GT_N, .thin-31rlnD, .thin-31rlnD.fade-1R6FHN:hover, .thin-31rlnD.scrolling-20Of9p {
    background-color: #1f1f1f;
}

:root {
    --custom-primary: #1f1f1f;
    --custom-primary2: #292929;
    --custom-primary3: #2c2c2c;
    --custom-primary4: #383838;
    --custom-primary5: orangered;
      --wildberry-scrollbar-track: var(--custom-primary);
    --wildberry-scrollbar-thumb: var(--wildberry-secondary-alt);
}
.theme-dark {
    --scrollbar-auto-thumb: var(--custom-primary5);
    --scrollbar-auto-track: var(--custom-primary4);
}
.headerTop-3GPUSF {
    background-color: #1f1f1f;
}
.container-1zzFcN, .activityPanel-9icbyU {
    background-color: #292929;
}
.button-1EGGcP.buttonColor-3bP3fX, .button-1EGGcP .buttonColor-3bP3fX {
    background-color: #1f1f1f;
}
.container-2o3qEW, .membersWrap-3NUR2t {
    background-color: #1f1f1f;
}
.titleContainer-3fPic2, .stickyHeader-1Sunlx {
    background-color: #1f1f1f;
}
.activityPanel-9icbyU {
    border: 1px solid #383838;
    border-radius: 5px ;
    border-bottom: none;
}
.container-1zzFcN {
    border: 1px solid #383838;
    border-radius: 5px;
    border-top: none;
}
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx, .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx {
    background: orangered;
}
.divider-IqmEqJ, .divider-2rZFJK isUnread-3Lojb- {
    --divider-color: orangered;
}
.theme-dark .children-3xh0VB:after {
    display: none;
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover{
    background-color: orangered;
}
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx:hover, .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx:hover {
    background-color: #1f1f1f;
}
.liveSmall-1Urjcy, .liveShapeRound-2Tgi2d, .textBadge-1fdDPJ  {
    background: orangered;
}
.header-1zd7se, .theme-dark .footer-31IekZ {
    background-color: #1f1f1f;
}
.content-26qlhD {
    background-color: #1f1f1f;
    border-top: 0px solid;
    border-radius: 0px;
}
.theme-dark .message-G6O-Wv {
    background-color: #292929;
}
.lookFilled-yCfaCM.colorRed-rQXKgM, .lookFilled-yCfaCM.colorRed-rQXKgM:hover {    
    background-color: orangered;
}
.upload-vLbqu-, .uploadContainer-TCg-Ji {
    background-color: #474747;
    border: 1px solid #1f1f1f;
}
.uploadContainer-TCg-Ji {
    border: none;
}
.wrapper-2vIMkT {
    background: #383838;
    border: 1px solid #1f1f1f;
}
.theme-dark .root-g14mjS {
    background-color: #1f1f1f;
}
.card-m7VgZ8, .radioBar-3w9XY- {
    background-color: #292929;
}
.lookFilled-1GseHa.select-1Ia3hD {
    background-color: #292929;
}
.theme-dark .art-1TvEXv {
    display: none;
}
.option-2eIyOn, .option-2eIyOns, .option-2eIyOn {
    background-color: #292929;
}
.option-2eIyOn.focused-ODgjnC, .option-2eIyOn:focus, .option-2eIyOn:hover {
    background-color: #292929;
}
.option-2eIyOn[aria-selected=true] {
    background-color: #1f1f1f;
}
.selectorButtonSelected-3cQUnj,.lookFilled-yCfaCM.colorBrand-I6CyqQ:disabled {
    background-color: orangered;
}
.selectorButton-3fWZ0_:not(.selectorButtonPremiumRequired-IZXhgV):hover {
    background-color: rgb(153, 46, 7);
}
.clickable-vvKY2q .header-3OsQeK:hover, .selected-1GtAC5 .header-3OsQeK {
    background-color: #292929;
}
.theme-dark .perksModal-CLcR1c {
    background-color: #1f1f1f;
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ {
    background-color: orangered;
}
.theme-dark .ctaBar-Nhk8yY {
    background-color: #292929;
}
.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo {
    background-color: #383838;
}
.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo:active, .theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover {
    background-color: #474747;
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
    background-color: rgb(245, 109, 60);
}
.theme-dark .tierHeaderLocked-3ItHYn {
    background-color: #292929;
}
.theme-dark .tierBody-3ju-rc {
    background-color: #383838;
}
.theme-dark .perk-19D_HN {
    background-color: #292929;
}
.bd-addon-list .bd-addon-header {
    background-color: #292929;
}
.bd-description-wrap, .bd-addon-list .bd-footer {
    background-color: #383838;
}
.bd-switch input:checked+.bd-switch-body {
    --switch-color: orangered;
}
.bd-button {
    background-color: orangered;
}
.bd-button:hover {
    background-color: rgb(245, 109, 60);
}
.bd-addon-views .bd-view-button.selected {
    background-color: orangered;
}
.bd-select .bd-select-option, .bd-select .bd-select-option.selected {
    background-color: #1f1f1f;
}
.bd-select .bd-select-option:hover {
    background: #292929;
}
.scroller-29cQFV {
    background-color: #292929;
}
.theme-dark .feature-2IUcBI {
    background-color: #383838;
}
.lookFilled-yCfaCM.colorGreen-3y-Z79 {
    background-color: orangered;
}
.threadSuggestionBar-3ExSyc {
    background-color: #383838;
}
.colorLink-2apWfY {
    color: orangered;
}
.scroller-IZ5d96 {
    background-color: #1f1f1f;
}
.reaction-2A2y9y {
    background-color: #383838;
}
